<html>
<body>
<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>RedDoorz</title>
</head>

<body style="padding:0; margin:0;width:100%;text-align:center;background-color: #ddd;">
<style type="text/css">
	.review-user-name {

		color: #ec2224;
	}

	.review-logo {
		border-bottom: 1px solid #ccc;
		box-shadow: 0px 1px #ccc;
	}

	.review-center {
		height: 45px;
		font-size: 20px;
		padding-top: 15px;
		text-align: center;
	}
	.color-6{
		color:#666666;
	}
</style>
<div style="max-width: 600px;background-color:#f6f8f8;padding:5px;margin:auto;">
	<table cellpadding="0" cellspacing="0" border="0" style="padding:0; margin:0;width:100%;text-align:center;background-color: #f6f8f8;">

		<tr style="height:60px;">
			<td style="border-bottom: solid #cfd2ce 2px; margin-bottom: 1%">
				<img alt="logo" style="border: 0; width:160px;" src="https://cdn.theinviteme.com/assets/image/logo/inviteme-logo1.png" />
			</td>
		</tr>
		<tr style="padding-bottom: 1%">
			<td class="review-user-name">
				<h2 >
					Wedding Attendance
				</h2>
			</td>
		</tr>
		<tr>
			<td></td>
		</tr>
		<tr>
			<td class="color-6">
<!--				<h2>Dilan Saputra dan Milea Sujatmiko</h2>-->
				<h2>{{event_title}}</h2>
			</td>
		</tr>
		<tr>
			<td></td>
		</tr>
<!--		<tr class="color-6" style="height:35px;">-->
<!--			<td>-->
<!--				<span>Bapak dan Ibu</span>-->
<!--			</td>-->
<!--		</tr>-->
		{{#each guest_list}}
		<tr class="color-6">
			<td>
				<span>Bapak dan Ibu</span>
			</td>
		</tr>
		<tr class="color-6">
			<td>
				<span><strong>
					{{this}}
				</strong></span>
			</td>
		</tr>
		{{/each}}

			<td class="color-6">
				<p style="padding-top: 10px;">Terima kasih anda telah bersedia untuk hadir dalam acara pernikahan putra dan putri kami</p>
			</td>
		</tr>
		<tr>
			<td class="color-6">
				<strong>{{event_title}}</strong>
			</td>
		</tr>
		<tr>
			<td class="color-6">
				<p style="padding-top: 10px;">Yang akan diadakan di</p>
			</td>
		</tr>
		<tr>
			<td class="color-6">
				<strong>{{event_city}}, {{event_date}}</strong>
			</td>
		</tr>
		<tr>
			<td class="color-6">
				<strong>Pukul {{event_time_start}}</strong>
			</td>
		</tr>
		<tr>
			<td class="color-6">
				<strong>{{event_building}}, {{event_city}}</strong>
			</td>
		</tr>
		<tr>
			<td class="color-6">
				<p style="padding-top: 10px;">Untuk Keperluan Reservasi, silahkan buka klik link berikut ini untuk mendapatkan barcode undangan</p>
			</td>
		</tr>
		<tr>
			<td class="color-6">
				<a href="https://theinviteme.com/barcode/1/gXj2xNK6qzrwXlAAE67S">https://theinviteme.com/barcode/1/gXj2xNK6qzrwXlAAE67S</a>
			</td>
		</tr>
		<tr>
			<td class="color-6">
				<p style="padding-top: 10px;">Kehadiran anda sangat kami harapkan dan kami hargai selaku yang merayakan</p>
			</td>
		</tr>
		<tr>
			<td class="color-6">
				<p style="padding-top: 10px;"><strong>Hormat Kami,</strong></p>
			</td>
		</tr>
		<tr>
			<td class="color-6">
				<p style="padding-top: 10px;"><strong>Invitation Team of,</strong></p>
			</td>
		</tr>
		<tr>
			<td class="color-6">
				<p style="padding-top: 10px;"><strong>{{event_title}}</strong></p>
			</td>
		</tr>
		<tr>
			<td>

			</td>
		</tr>
		<tr style="height:60px;">
			<td>

			</td>
		</tr>
<!--		<tr >-->
<!--			<td class="color-6">-->
<!--				Get an exclusive Secret Travel Tip for your valuable feedback.-->
<!--			</td>-->
<!--		</tr>-->
<!--		<tr style="height:25px;">-->
<!--			<td class="color-6">-->
<!--				Help us serve you better!-->
<!--			</td>-->
<!--		</tr>-->
		<tr style="height:60px;">
			<td>

			</td>
		</tr>

		<tr style="height:60px;margin:20px;">
			<td style="border-top:solid #cfd2ce 2px;">
				<a href="http://u6116793.ct.sendgrid.net/ls/click?upn=DRZcQsM-2Fj6uaeI8dzRNRUuhMy1ZUGKpnEEnxtDWWTTiWvjabnEQpAZFFEn46s5UrOSRt_vWWdF-2B9vx-2Bn4lNJoIJEzjEFKcHtKB5l255PhzMC-2FjgarZXAC1qubt-2FD571ymgOpnlKvP8EpTkzP-2BilTw7Qc0etTIPSRjwNwxzthfAv59TgAd2Wfomru301mYhJzueJxizzmzo7xAFpKy2Om9Wi4Pkd7XbmFAioeQoWJyGOsrSDdmKYzgaap7x9xu9xznhZo-2Fq6b6OC7hoBSySPzuos5IcJdzqDn-2Bf3yIH7kZhLKPykc-3D" style="display:inline-block;vertical-align: middle; margin-right:5px;">
					<img alt="facebook" style="padding:0;border: 0;vertical-align:middle; margin:0;" src="https://midoffice.reddoorz.com/assets/survey_mailer/fb-2ad17f3c9c97c06553d423cff1cb807e604a43f2ee035d0fc9ff33c6241d8d7c.jpg" />
				</a>
				<a href="http://u6116793.ct.sendgrid.net/ls/click?upn=DRZcQsM-2Fj6uaeI8dzRNRUjM81ATJPMtMnPTrNe-2F4-2FlPy7rT33cPnxvbGTOJiAFe5V4WY_vWWdF-2B9vx-2Bn4lNJoIJEzjEFKcHtKB5l255PhzMC-2FjgarZXAC1qubt-2FD571ymgOpnM1GB6gfLw5z5E9LJ83zn20hnimeD5QMUGmcFnuw9ryd3CN6XmtPIlCxyZs2K-2BPVRSWQi6hi-2B1-2B7LVbz0tDRLzYGbyOPAaMHqU7kTdIYS9v5ujYqWpnaNn5aCb1UUODhOlTaCgWF6SO1RgriIQKK2QJdXxEf2mogU8KMLbkikCr0-3D" style="display:inline-block;vertical-align: middle; margin-right:5px;">
					<img alt="twitter" style="padding:0;border: 0;vertical-align:middle; margin:0;" src="https://midoffice.reddoorz.com/assets/survey_mailer/twitter-ef7e2642df95ecc9cdbe6c72bec83cc99a0ca15cf500d7c6e3786cdfd53acf77.jpg" />
				</a>
				<a href="http://u6116793.ct.sendgrid.net/ls/click?upn=DRZcQsM-2Fj6uaeI8dzRNRUlHwmiSluJsoV9RmtrWBPfY7fi6OAnhZ85Ss2SayrJsXXfTD_vWWdF-2B9vx-2Bn4lNJoIJEzjEFKcHtKB5l255PhzMC-2FjgarZXAC1qubt-2FD571ymgOpno7pdqhTd590wkb10mhwjolaeGhFpSiVmS7cAL4uBimxdMXwijo6wVR83cfan7nPFcylO4JKeoIiH9QlViZ1wUsYX3POpTK7LvpOBI9pj-2FZZeJhbzrQX8pZ0xrwTKDx5xbdu0XJ0zaFHa1m395H2Oh93YwqHvcaD4rYc5-2FvxFALA-3D" style="display:inline-block;vertical-align: middle;">
					<img alt="instagram" style="padding:0;border: 0;vertical-align:middle; margin:0;" src="https://midoffice.reddoorz.com/assets/survey_mailer/insta-b642c62dba2312dec4a9057835680b909985a6540e1f89c7eeb7eaa7e6878811.jpg" />
				</a>
				<a href="http://u6116793.ct.sendgrid.net/ls/click?upn=DRZcQsM-2Fj6uaeI8dzRNRUl1LNq-2BJ8sD2iIA-2F0F7NCXuvKgptJ27GuYiosb3mfgIKR5eA_vWWdF-2B9vx-2Bn4lNJoIJEzjEFKcHtKB5l255PhzMC-2FjgarZXAC1qubt-2FD571ymgOpn2DRkVOQFbxqYvKHnk-2FWqZs8B0LtvFivAY9ww4fseOHfanwfcsq5Dv6VLp-2BMHIHiqnf1HyX0LdVq11T5QEHywd4-2BkgdcWrNzc0wC9PTMgdrg4Ea9rJ-2FBZiAC8h-2BcvhYXTIQvhkgU5kLMKXeihREba5bTG74D-2BmwLY9agiR-2B1T990-3D" style="display:inline-block;vertical-align: middle;">
					<img alt="pinterest" style="padding:0;border: 0;vertical-align:middle; margin:0;" src="https://midoffice.reddoorz.com/assets/survey_mailer/pinterest-5ca5dcf5d69b4a8a62d7438564227a664bc51e21cbbb0f7c75ad2464cb48a4fe.jpg" />
				</a>
			</td>
		</tr>
	</table>
</div>
</body>

</html>

<img src="https://u6116793.ct.sendgrid.net/wf/open?upn=QFq1KX8ioh6QhfGLjDnWoHg6d-2FSQZkpcDkaZcur-2Bco8IX-2BZhVlGPf1SG2A-2FcY6wY-2FwCAFbMmxtFzdcy2Z9jIr4oJo3J5Jg3wTMQM1J2dpyE61Pkud5zVGWgzvcxYPA1if7qM9l2VNnv8FhtpFFCXUhOILOZgmn5F05FmYqhmYkt1Ten6h6exIJwx-2FObtiBf-2BOSo0u7LeR3-2BynA5U2FOMt1YigPJyKrm2J-2BR04iS-2FHgQ-3D" alt="" width="1" height="1" border="0" style="height:1px !important;width:1px !important;border-width:0 !important;margin-top:0 !important;margin-bottom:0 !important;margin-right:0 !important;margin-left:0 !important;padding-top:0 !important;padding-bottom:0 !important;padding-right:0 !important;padding-left:0 !important;"/>
</body>
</html>