<div class=""><div class="aHl"></div><div id=":no" tabindex="-1"></div><div id=":nz" class="ii gt adO"><div id=":o0" class="a3s aXjCH "><div class="adM">

</div><div><div class="adM">

</div><table width="600">

	<tbody><tr>
		<td colspan="3">
		Terima Kasih atas kepercayaan Anda telah menggunakan aplikasi Rimember.
    <br>
    <br>
		Dear Rimers! <br><br>
    Mohon maaf untuk sementara aplikasi rimember yg berbasis android tidak dapat digunakan karena sedang dalam proses update menjadi android versi 1.2 untuk  mengakses aplikasi rimember silahkan log in melalui  website <a href="www.rimember.id">www.rimember.id</a>
    dengan account di bawah ini :
      

		</td>
	</tr>
	
	<tr>
		<td colspan="3">

		</td>
	</tr>

	<tr>	
		<td width="30%">	Username	</td>
		<td>	: </td>     
		<td>	{{username}}  	</td>        

	</tr>
	
	<tr>
		<td>	Password	</td>
		<td>	: </td>   
		<td>	{{password}}</td>   
	</tr>

		<td colspan="3">
			<br>
      Kami menyarankan Anda untuk menyimpan email ini sebagai referensi dari detail account anda. Semoga informasi ini bermanfaat bagi Anda.
	  <!-- Kami menyarankan Anda untuk segera mengganti password account ini yang berada pada edit profil user  ubah kata sandi. <br> -->
			<br><br>	
			Hormat kami,
			<br><br>
			Rimember
		</td>
		</tr>
</tbody></table>

<!-- ==============================<wbr>==============================<wbr>==============================<wbr>================

<table width="600">

	<tbody><tr>
		<td colspan="3">
		Thank you for using Mandiri Online.
		<br>
		We would like to inform you transaction you have performed:
		</td>
	</tr>
	
	<tr>
		<td colspan="3">

		</td>
	</tr>

	<tr>	
	
		<td width="30%">	Date/Time	</td>
		<td>	: </td>   
		<td>	21/12/2018 19:39:44  	</td>        

	</tr>
	
	<tr>
		<td>	Transaction Type	</td>
		<td>	: </td>   
		<td>	Transfer to Other Local Bank</td>   
	</tr>

	<tr>
		<td>	From Account		</td>
		<td>	: </td>   
		<td>	DIDI KURNIA - 1260007593709 (IDR)</td>
	</tr>
	

	<tr>
		<td>	To Account	</td>
		<td>	: </td>   
		<td>   DIDI KURNIA                                                            - 8691129039 (BCA) </td>

	</tr>
	
	<tr>
		<td>	Amount			</td>
		<td>	: </td>   
		<td>	IDR 1,000,000.00	</td>
	</tr>

		<tr>
		<td>	Fee		</td>
		<td>	: </td>   
		<td>	IDR 6,500.00	</td>
	</tr>
	<tr>
		<td>	Debit Amount		</td>
		<td>	: </td>   
		<td>	IDR 1,006,500.00	</td>
	</tr>
	
	<tr>
		<td>	Instruction Mode	</td>
		<td>	: </td>   
		<td>	Immediate	</td>
	</tr>
	
	<tr>
		<td>	Message  	</td>
		<td>	: </td>   
		<td>		</td>
	</tr>

	<tr>
		<td>	Transfer Type</td>
		<td>	: </td>   
		<td>	Online</td>
	</tr>
		
	<tr>
		<td>	Reference No. 	</td>
		<td>	: </td>   
		<td>2018122145599528	</td>
	</tr>

	<tr>
		<td>	Status    	</td>
		<td>	: </td>   
		<td>Successful	</td>
	</tr>
	
	<tr>

		<td colspan="3">
			<br>
			We advice you to keep this email as your reference.  We hope this information is useful for you.
			<br><br>	
			Best Regards,
			<br><br>
			BANK MANDIRI
		</td>
		</tr>
</tbody></table><div class="yj6qo ajU"><div id=":qm" class="ajR" role="button" tabindex="0" data-tooltip="Show trimmed content" aria-label="Show trimmed content" aria-expanded="false"><img class="ajT" src="//ssl.gstatic.com/ui/v1/icons/mail/images/cleardot.gif"></div></div><div class="adL"><span class="im">

<p>Perhatian: E-mail ini (termasuk seluruh lampirannya, bila ada) hanya 
ditujukan kepada penerima yang tercantum di atas. Jika Anda bukan 
penerima yang dituju, maka Anda tidak diperkenankan untuk memanfaatkan, 
menyebarkan, mendistribusikan, atau menggandakan e-mail ini beserta 
seluruh lampirannya. Mohon kerjasamanya untuk segera memberitahukan PT 
Bank Mandiri (Persero) Tbk di alamat email yang tercantum di atas serta 
menghapus e-mail ini beserta seluruh lampirannya. Semua pendapat yang 
ada dalam e-mail ini merupakan pendapat pribadi dari pengirim yang 
bersangkutan dan tidak serta merta mencerminkan pandangan&nbsp; PT Bank 
Mandiri (Persero) Tbk., kecuali telah terdapat kesepakatan antara 
pengirim dan penerima bahwa e-mail ini termasuk salah satu bentuk 
komunikasi kedinasan yang dapat diterima oleh kedua pihak. </p>

<p>Caution: The information enclosed in this email (and any attachments)
 may be legally privileged and/or confidential and is intended only for 
the use of the addressee(s). No addressee should forward, print, copy, 
or otherwise reproduce this message in any manner that would allow it to
 be viewed by any individual not originally listed as a recipient. If 
the reader of this message is not the intended recipient, you are hereby
 notified that any unauthorized disclosure, dissemination, distribution,
 copying or the taking of any action in reliance on the information 
herein is strictly prohibited. If you have received this communication 
in error, please immediately notify the sender and delete this message. 
Unless it is made by the authorized person, any views expressed in this 
message are those of the individual sender and may not necessarily 
reflect the views of PT Bank Mandiri (Persero) Tbk.</p></span></div></div><div class="adL">
	
</div></div></div><div id=":qn" class="ii gt" style="display:none"><div id=":qo" class="a3s aXjCH undefined"></div></div><div class="hi"></div></div> -->